*, 
html, 
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto" sans-serif;}

h1{font-size: 4em; background-color: crimson;}
h2{font-size: 1.5em;}
h3{font-size: 1.5em;}
h4{font-size: 1.5em;}

.mainprofile{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 900px;
  font-size: 1em;
  background-color: cornflowerblue;
  align-items: center;
}

.secondprofile{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 669px;
  font-size: 1em;
  background-color: lightseagreen;
  align-items: center;
}

.tab{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 80px;
  background-color: deepskyblue;
}

.blue{
  display: flex;
  justify-content: center;
  align-items: normal;
  width: auto;
  height: 80px;
  background-color: blue;
}

.ranata{
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding: 15px;
}

.hurufpertama{
  color: tomato;
  font-size: 2em;
  font-weight: bolder;
}

.hurufkedua{
  color: lightcyan;
  font-size: 2em;
  font-weight: 900;
}

.navigasi{
  display: flex;
  justify-content: center;
  align-items: center;

}

.navigasi{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navigasi>li{
  list-style-type: none;
  padding: 15px;
}

.navigasi>li>a{
  color: white;
  font-size: 20px;
}

.navigasi>li>a:hover{
  color: greenyellow;
  transition: all 0.3s ease-in-out;
}

.navigasibawah{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}